In [1]:
import pandas as pd
import json
import numpy as np
import requests
from pandas.io.json import json_normalize

# Извлекаем data из df

In [2]:
df = pd.pandas.read_json('C:\\Users\\NG\\prakticum_misis\\ALGORITM\\data_for_algoritm_11834.json')
data = pd.DataFrame(df['data'])
data = data['data']
data
#data['type'].unique()

cargoes                 [{'info': {'color': '#4c83ea', 'title': '1', '...
settings                {'rank': False, 'max_step': 100, 'min_step': 5...
put_boxes                                                              []
initial_id                                                              0
cargo_space             {'id': 97, 'info': {'uid': '97_0', 'sort': 0, ...
calculation_id                                                      11787
boxes                                                                 NaN
version                                                               NaN
cargo_groups                                                          NaN
packing_type                                                          NaN
invalid_errors                                                        NaN
unpacked_errors                                                       NaN
validate_errors                                                       NaN
is_packed_same_boxes                                                  NaN
Name: data, dtype: object

### Извлекаем cargoes из data

In [3]:
cargoes = pd.DataFrame(list(data[0]))
cargoes

,info,mass,size,sort,type,count,margin,cargo_id,stacking,turnover,stacking_limit
0,"{'color': '#4c83ea', 'title': '1', 'article': ...",0.800,"{'width': 108, 'height': 146, 'length': 159}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",e4mg9hpfxqf8g1y3uxh0q5kencxhnsfa,True,True,0
1,"{'color': '#e3a952', 'title': '2', 'article': ...",0.845,"{'width': 108, 'height': 146, 'length': 159}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",mcvvz8m54jhsla4hhhkwxyyufgixezb5,True,True,0
2,"{'color': '#60e86e', 'title': '3', 'article': ...",0.845,"{'width': 108, 'height': 146, 'length': 159}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",ixvhwl8yba6i1lxnejwbjfrcws04x03h,True,True,0
3,"{'color': '#d8e7cd', 'title': '4', 'article': ...",0.845,"{'width': 108, 'height': 146, 'length': 159}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",cse1nekbtxsejnellzb2vjly3nhlnqvr,True,True,0
4,"{'color': '#d5e196', 'title': '5', 'article': ...",0.758,"{'width': 75, 'height': 123, 'length': 203}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",bewy4r5twqoiga1wozrrl7k2251w47g7,True,True,0
...,...,...,...,...,...,...,...,...,...,...,...
197,"{'color': '#689e49', 'title': '198', 'article'...",44625.000,"{'width': 142, 'height': 250, 'length': 336}",1,box,2,"{'width': 0, 'height': 0, 'length': 0}",rmlllirwvkoaenzf7uy0ngcz1vwuaedb,True,True,0
198,"{'color': '#a5778c', 'title': '199', 'article'...",44625.000,"{'width': 142, 'height': 250, 'length': 336}",1,box,2,"{'width': 0, 'height': 0, 'length': 0}",in7k5x6do3sazjzorazrk2f0bnik9bnk,True,True,0
199,"{'color': '#9fe7e7', 'title': '200', 'article'...",44715.000,"{'width': 186, 'height': 202, 'length': 260}",1,box,2,"{'width': 0, 'height': 0, 'length': 0}",qouh7hiqmeek6xlkyrd9ik5x3o0qjh7a,True,True,0
200,"{'color': '#a7a5ad', 'title': '201', 'article'...",5.149,"{'width': 186, 'height': 205, 'length': 356}",1,box,1,"{'width': 0, 'height': 0, 'length': 0}",hqrtdqm4ksb5g4r3gvz6rowhoqowuv2r,True,True,0
201,"{'color': '#239595', 'title': '202', 'article'...",44715.000,"{'width': 186, 'height': 202, 'length': 260}",1,box,4,"{'width': 0, 'height': 0, 'length': 0}",j4k0vlqiruns0wiyuryaht55gewgyjqi,True,True,0

In [4]:
info = pd.DataFrame(list(cargoes['info']))
info

,color,title,article,group_id,group_title
0,#4c83ea,1,68486963,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
1,#e3a952,2,68379845,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
2,#60e86e,3,68379891,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
3,#d8e7cd,4,68379756,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
4,#d5e196,5,68491150,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
...,...,...,...,...,...
197,#689e49,198,68812904,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
198,#a5778c,199,68812009,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
199,#9fe7e7,200,68811848,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
200,#a7a5ad,201,67781969,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена
201,#239595,202,67498997,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена

In [16]:
margin = pd.DataFrame(list(cargoes['margin']))
margin.rename(columns = {'width':'margin_width', 'height':'margin_height', 'length':'margin_length'}, inplace = True )
full_cargoes = info.join(margin, on=None, how='left', sort=False)
full_cargoes

,color,title,article,group_id,group_title,margin_width,margin_height,margin_length
0,#4c83ea,1,68486963,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
1,#e3a952,2,68379845,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
2,#60e86e,3,68379891,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
3,#d8e7cd,4,68379756,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
4,#d5e196,5,68491150,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
...,...,...,...,...,...,...,...,...
197,#689e49,198,68812904,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
198,#a5778c,199,68812009,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
199,#9fe7e7,200,68811848,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
200,#a7a5ad,201,67781969,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0
201,#239595,202,67498997,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0

In [17]:
size = pd.DataFrame(list(cargoes['size']))
size.rename(columns = {'width':'size_width', 'height':'size_height', 'length':'size_length'}, inplace = True )
full_cargoes = full_cargoes.join(size, on=None, how='left', sort=False)
full_cargoes

,color,title,article,group_id,group_title,margin_width,margin_height,margin_length,size_width,size_height,size_length
0,#4c83ea,1,68486963,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159
1,#e3a952,2,68379845,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159
2,#60e86e,3,68379891,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159
3,#d8e7cd,4,68379756,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159
4,#d5e196,5,68491150,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,75,123,203
...,...,...,...,...,...,...,...,...,...,...,...
197,#689e49,198,68812904,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,142,250,336
198,#a5778c,199,68812009,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,142,250,336
199,#9fe7e7,200,68811848,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,186,202,260
200,#a7a5ad,201,67781969,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,186,205,356
201,#239595,202,67498997,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,186,202,260

In [18]:
full_cargoes = full_cargoes.join(cargoes[['mass', 'sort', 'type', 'count', 'cargo_id', 'stacking', 'turnover', 'stacking_limit']], on=None, how='left', sort=False)
full_cargoes.head()

,color,title,article,group_id,group_title,margin_width,margin_height,margin_length,size_width,size_height,size_length,mass,sort,type,count,cargo_id,stacking,turnover,stacking_limit
0,#4c83ea,1,68486963,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159,0.800,1,box,1,e4mg9hpfxqf8g1y3uxh0q5kencxhnsfa,True,True,0
1,#e3a952,2,68379845,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159,0.845,1,box,1,mcvvz8m54jhsla4hhhkwxyyufgixezb5,True,True,0
2,#60e86e,3,68379891,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159,0.845,1,box,1,ixvhwl8yba6i1lxnejwbjfrcws04x03h,True,True,0
3,#d8e7cd,4,68379756,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,108,146,159,0.845,1,box,1,cse1nekbtxsejnellzb2vjly3nhlnqvr,True,True,0
4,#d5e196,5,68491150,1xmcnzpm3rtmdyaanblzasa7cdgeoqzb,Группа не определена,0,0,0,75,123,203,0.758,1,box,1,bewy4r5twqoiga1wozrrl7k2251w47g7,True,True,0

### Извлекаем settings из data

In [86]:
settings = pd.DataFrame.from_dict(data[1], orient='index').rename(columns={0:'settings'})
settings

             settings
rank            False
max_step          100
min_step           50
usersort        False
hardlimit        1801
timelimit        1800
step_scaling       10

### Извлекаем cargo_space из data

In [125]:
cargo_space = data[4]
id_cargo = cargo_space['id']
title_cargo = cargo_space['title']
mass_cargo = cargo_space['mass']
cargo_size = pd.DataFrame.from_dict(cargo_space['size'], orient='index').rename(columns={0:'cargo_size'})
loading_size = pd.DataFrame.from_dict(cargo_space['loading_size'], orient='index').rename(columns={0:'loading_size'})
volume = loading_size['loading_size']['width'] * loading_size['loading_size']['height'] * loading_size['loading_size']['length']
carrying_capacity = cargo_space['carrying_capacity']
carrying_capacity

1000

# Извлекаем data из df

In [128]:
df['data_result'][4]

{'id': 97,
 'info': {'uid': '97_0',
  'sort': 0,
  'title': 'EURO',
  'margin': {'width': 0, 'height': 0, 'length': 0}},
 'mass': 20.0,
 'size': {'width': 800.0, 'height': 200.0, 'length': 1200.0},
 'type': 'pallet',
 'indentation': {'width': 0.0, 'height': 0.0, 'length': 0.0},
 'loading_size': {'width': 800.0, 'height': 2000.0, 'length': 1200.0},
 'calculation_info': {'cargos_mass': 0.6464610000000001,
  'load_volume': 1.92,
  'cargos_volume': 1.56909,
  'load_capacity': 1.0,
  'loading_height': 1.999,
  'density_percent': 81.76416,
  'remaining_volume': 0.35091000000000006,
  'void_space_percent': 18.27673,
  'filling_space_percent': 81.72327},
 'carrying_capacity': 1000.0,
 'real_center_of_gravity': [584.4111292096511,
  911.047964223673,
  401.2313240860626],
 'ideal_center_of_gravity': [600.0, 0.0, 400.0]}